ol,ul{list-style: none}
*{margin: 0;padding: 0;}
body{margin:0;padding:0;overflow:hidden; }
#can{
    background:#fff;
    display: block;
}

.actions{
    position:fixed;
    top:0;
    left: 0;
    padding: 10px;
}
.actions svg{
    width: 1.5em;
    height: 1.5em;
    transition: all 0.3s;
    margin: 0 10px;
}
.actions svg.active{
    fill:red;
    transform:scale(1.2);

}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.colors{
    position: fixed;
    top:40px;
    left:10px;

}
.colors li{
    width: 20px;
    height: 20px;
    box-shadow:0 0 3px rgba(0,0,0,0.5);
    border-radius:50%;
    margin:10px 7px;
    transition:all 0.3s;
}
.colors li.black{
    background: black;
}
.colors li.red{
    background: red;
}
.colors li.green{
    background: green;
}
.colors li.blue{
    background: blue;
}
.colors li.active{
    box-shadow: 0 0 5px rgba(0,0,0,1);
    transform:scale(1.1);
}

.size{
    position:fixed;
    right:15px;
    top:10px;
}
.size li{
    margin:20px 0;
}
.size .thin{
    height: 0;
    width: 30px;
    border-top:2px solid black;
    border-radius: 5px;
}
.size .thick{
    height: 0;
    width: 30px;
    border-top:6px solid black;
    border-radius: 5px;
}
